/* Radio */
.trans-element-radio
{
	display: inline-block;
	*display: block;
	zoom: 1;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.trans-element-radio.checked
{
	background: no-repeat url(../img/chk_on.png) center center;
}
.trans-element-radio.unchecked
{
	background: no-repeat url(../img/chk_off.png) center center;
}
.image img, .trans-element-radio, .trans-element-checkbox, #tristate img
{
	padding: 5px;
	border: 1px solid #dddddd;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	vertical-align: middle;
	margin: 0 0 5px;
}
/* Checkbox */
.trans-element-checkbox
{
	display: inline-block;
	*display: block;
	zoom: 1;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.trans-element-checkbox.checked
{
	background: no-repeat url(../img/chk_on.png) center center;
}
.trans-element-checkbox.unchecked
{
	background: no-repeat url(../img/chk_off.png) center center;
}

.disabled {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
/* Page CSS */
*
{
	margin	: 0;
	padding	: 0;	
	list-style	: none;
	outline: none;
	resize: none;
}
body
{
	font : normal 12px Arial;
	padding: 0 0 30px;
}
#container
{
	width	: 800px;
	margin	: 0 auto;
}
h1
{
	margin	: 30px 0 15px;
	font-size: 25px;
}
h2
{
	font-size: 20px;
	margin: 15px 0;
}
p
{
	margin	: 15px 0 15px;
	line-height: 22px;
	font-size: 14px;
}
#changelog
{
	display	: none;
}
#tristate li
{
	margin: 0;
	list-style: none;
}
#tristate li ul
{
	background: repeat-y url(../img/treeview_ul.gif) 11px 2px;
}
#tristate li ul li
{
	padding: 0 0 0 28px;
	background: no-repeat url(../img/treeview.gif) 11px 0;
}
.row
{
	clear	: both;
	overflow	: hidden;	
}
.clear
{
	clear: both;
}
img
{
	cursor	: pointer;	
}
textarea
{
	float	: left;	
	resize: none;
	outline: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border		: 1px solid #cccccc;
	font-family: Arial;
	line-height: 18px;
	padding: 10px;
}
#slider
{
	float	: left;	
	margin	: 0 0 0 15px;
	height	: 200px;
}