/*
	transformSelect CSS
*/
.transformSelect
{
	clear	: both;
	width	: 200px;
}
.transformSelect li
{
	position: relative;
	list-style: none;
}
.transformSelect span, .transformSelect input[type=text] {
	background: #ffffff no-repeat url(../img/transformselect.gif) right center;
    border: 1px solid #CCCCCC;
    color: #575757;
    cursor: pointer;
    display: block;
    left: 0;
    margin: 0;
    padding: 3px 5px;
    top: 0;
    line-height: 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
.transformSelect li.open span, .transformSelect li.open input[type=text]
{
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}
.transformSelect input[type=text]
{
	width: 188px;
}
.transformSelect ul
{
	position: absolute;
	border: 1px solid #CCCCCC;
	border-top: 0;
	width: 198px;
	border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}
.transformSelect ul span
{
	border: 0;
	background: #ffffff;
}
.transformSelect ul span:hover
{
	background: #dddddd;
	border-radius: 0;
	-webkit-border-radius: 0;
}
	.transformSelect ul li
	{
		height: auto;
	}
		.transformSelect li.group ul
		{
			position: static;
			border: 1px solid #dddddd;
			border-right: 0;
			border-left: 0;
			border-radius: 0;
			-webkit-border-radius: 0;
		}
		.transformSelect li.group span
		{
			font-style: italic;
			border-radius: 0;
			-webkit-border-radius: 0;
			background: #F7F7F7;
		}
		.transformSelect li.group > span
		{
			background: #eeeeee;
			border-top: 1px solid #dddddd;
		}
		.transformSelect li.group  ul span
		{
			text-indent	: 10px;
			font-style: normal;
		}
		.transformSelect ul li.group ul span:hover
		{
			background: #dddddd;
		}
		.transformSelect input[type=checkbox]
		{
			position: relative;
			top: 2px;
			margin: 0 5px 0 0;
			cursor: pointer;
		}
/* Radio */
.trans-element-radio
{
	display: inline-block;
	*display: block;
	zoom: 1;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.trans-element-radio.checked
{
	background: no-repeat url(../img/chk_on.png) center center;
}
.trans-element-radio.unchecked
{
	background: no-repeat url(../img/chk_off.png) center center;
}
.image img, .trans-element-radio, .trans-element-checkbox, #tristate img
{
	padding: 5px;
	border: 1px solid #dddddd;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	vertical-align: middle;
	margin: 0 0 5px;
}
/* Checkbox */
.trans-element-checkbox
{
	display: inline-block;
	*display: block;
	zoom: 1;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.trans-element-checkbox.checked
{
	background: no-repeat url(../img/chk_on.png) center center;
}
.trans-element-checkbox.unchecked
{
	background: no-repeat url(../img/chk_off.png) center center;
}
/* Page CSS */
*
{
	margin	: 0;
	padding	: 0;	
	list-style	: none;
	outline: none;
	resize: none;
}
body
{
	font : normal 12px Arial;
	padding: 0 0 30px;
}
#container
{
	width	: 800px;
	margin	: 0 auto;
}
h1
{
	margin	: 30px 0 15px;
	font-size: 25px;
}
h2
{
	font-size: 20px;
	margin: 15px 0;
}
p
{
	margin	: 15px 0 15px;
	line-height: 22px;
	font-size: 14px;
}
#changelog
{
	display	: none;
}
#tristate li
{
	margin: 0;
	list-style: none;
}
#tristate li ul
{
	background: repeat-y url(../img/treeview_ul.gif) 11px 2px;
}
#tristate li ul li
{
	padding: 0 0 0 28px;
	background: no-repeat url(../img/treeview.gif) 11px 0;
}
.row
{
	clear	: both;
	overflow	: hidden;	
}
.clear
{
	clear: both;
}
img
{
	cursor	: pointer;	
}
textarea
{
	float	: left;	
	resize: none;
	outline: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border		: 1px solid #cccccc;
	font-family: Arial;
	line-height: 18px;
	padding: 10px;
}
#slider
{
	float	: left;	
	margin	: 0 0 0 15px;
	height	: 200px;
}